use flake
PATH_add .venv/bin
export PULUMI_CONFIG_PASSPHRASE="67"

YC_TOKEN_CACHE=".yc_token"
CURRENT_TIME=$(date +%s)

if [ -f "$YC_TOKEN_CACHE" ]; then
    # Получаем время изменения файла (работает на Linux и macOS)
    FILE_TIME=$(date -r "$YC_TOKEN_CACHE" +%s 2>/dev/null)
    AGE=$((CURRENT_TIME - FILE_TIME))
else
    AGE=100000
fi

if [ "$AGE" -gt 39600 ]; then
    echo "Requesting new Yandex Cloud IAM token..."
    yc iam create-token > "$YC_TOKEN_CACHE"
fi

export YC_TOKEN=$(cat "$YC_TOKEN_CACHE")
export YC_CLOUD_ID=$(yc config get cloud-id)
export YC_FOLDER_ID=$(yc config get folder-id)
export YC_CLOUD_ID=$(yc config get cloud-id)