* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: white;
}

#window {
  font-weight: bold;
  font-family: "JetBrainsMono Nerd Font";
}

#workspaces button {
  padding: 0 5px;
  background: transparent;
  color: white;
  border-top: 2px solid transparent;
}

#workspaces button.focused {
  color: #c9545d;
  border-top: 2px solid #c9545d;
}

#mode {
  background: #64727d;
  border-bottom: 3px solid white;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#tray,
#mode {
  padding: 0 3px;
  margin: 0 10px;
}

#clock {
  font-weight: bold;
}

#tray {
  margin: 0px;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}

#battery.charging {
  color: #00ff15;
}

#battery.warning:not(.charging) {
  color: rgb(255, 225, 0);
}

#battery.critical:not(.charging) {
  color: rgb(255, 0, 0);
}

#network.disconnected {
  background: #f53c3c;
}
